{% assign filter_categories = include.filter %}
<div class="teaser blog-teaser isotope-item {{ filter_categories }} {{ include.kmk }} {{ include.medien }} {{ include.fach }} {% if include.featured %}col-xs-24 col-sm-12 col-md-8 col-lg-12 col-xlg-8 {% else %}col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4{% endif %}">
        <a href="{{ include.url }}" class="teaser-inner">
        <div class="teaser-image">
            <img class="img-responsive" src="{{ include.src }}"/>
        </div>
        <div class="teaser-content blog-teaser-content">
            <h3 class="teaser-headline">{{ include.headline }}</h3>
            {{ include.desc }}

            {% assign lfachbereich = include.fachbereich  %}
            <p><strong>Fachbereicht:</strong>
            {% for f in lfachbereich %}
              {% if site.data.digitalen_welt.long-fach[f] %}
              {{ site.data.digitalen_welt.long-fach[f] }}{% if forloop.last == false %}, {% endif %}
              {% endif %}
            {% endfor %}

            {% assign lfach = include.fach | split: " " %}
            <p><strong>Fach:</strong>
            {% for f in lfach %}
              {% if site.data.digitalen_welt.fachergruppen-dict[f] %}
              {{ site.data.digitalen_welt.fachergruppen-dict[f] }}{% if forloop.last == false %}, {% endif %}
              {% endif %}
            {% endfor %}

            <p><strong>Zielgruppe:</strong>
            {% for z in include.zielgruppe %}
              {% if site.data.digitalen_welt.zielgruppe[z] %}
              {{ site.data.digitalen_welt.zielgruppe[z] }}{% if forloop.last == false %}, {% endif %}
              {% endif %}
            {% endfor %}

            {% if include.categories %}
            <span class="teaser-cats">{{ include.categories }}</span>
            {% endif %}

            <div class="teaser-arrow has-arrow"></div>
        </div>
    </a>
</div>
