{% if include.new %}
  {% assign redirect = '{{site.url}}' %}
  {% assign project_title = '' %}
{% else %}
  {% capture redirect %}{{site.url}}/projects/{{page.slug}}{% endcapture %}
  {% assign editable = 'readonly' %}
  {% assign project_title = page.title %}
  {% assign project_needs = page.needs %}
  {% assign project_text = page.short-desc %}
  {% assign project_link = page.link %}
  {% assign project_status = page.status %}
  {% assign project_lab = page.lab %}
  {% assign project_contact_name = page.contact-name %}
  {% assign project_contact_email = page.contact-email %}
  {% assign project_image = page.image %}
{% endif %}
<div class="row">
    <section class="section first white col-xs-24">
        <div class="content-wrap">
            <!-- <h2 class="section-headline">Projekte</h2> -->
            <!--    <p>Von der Idee zum Projekt: In den edulabs entwickeln Teams zusammen Projekte für zeitgemäße Bildung. Projektideen sammeln wir zuerst im <a href="https://hackdash.org/dashboards/edulabs">edulabs Hackdash</a>. Hat sich eine Arbeitsgruppe gefunden, wird diese sowie das Vorhaben im Folgenden aufgeführt.</p> -->
        </div>
        <div class="row content-wrap">
          <form id="edit-project-form" class="form" method="post" action="{{ site.staticman_server }}/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/projects">

            <!-- Project Name -->
            <fieldset>
              <label for="project-form-name"><strong>Projekttitel</strong> <span class="required">*</span></label>
              <input type="text" id="project-form-name" name="fields[title]" value="{{ project_title }}" spellcheck="false" {{editable}}/>
            </fieldset>

            <!-- Project Lab -->
            <fieldset>
              <label for="project-form-lab"><strong>Kategorie</strong> <span class="required">*</span></label>
              <select name="fields[lab]" required>
                <option value="Projekte" {% if project_lab == "Projekt" %}selected{% endif %}>Projekt</option>
                <option value="Initiativen" {% if project_lab == "Initiative" %}selected{% endif %}>Initiative</option>
              </select>
            </fieldset>

            <!-- Project status -->
            <fieldset>
              <label for="project-form-status"><strong>Status</strong> <span class="required">*</span></label>
              <select name="fields[status]" required>
                {% for status in site.data.projects.status %}
                  <option value="{{ status }}" {% if project_status == status %}selected{% endif %}>{{ status }}</option>
                {% endfor %}
              </select>
            </fieldset>

            <!-- Project Short Text -->
            <fieldset>
              <label for="project-form-short-description"><strong>Projektbeschreibung</strong><span class="required"> *</span><br>Bitte beschreibe in wenigen Sätzen, welche Ziele das Projekt hat und welche Probleme es lösen soll. <span id="project-form-short-description-left">(noch 300 Zeichen)</span></label>
              <textarea type="text" rows="6" id="project-form-short-description" name="fields[short-desc]" spellcheck="true">{{ project_text }}</textarea>
            </fieldset>

            <!-- Project Needs Text -->
            <fieldset>
              <label for="project-form-needs"><strong>Welche Unterstützung benötigst du für das Projekt?</strong><span class="required"> *</span><br>Bitte beschreibe in kurzen Sätzen, welche Probleme noch zu lösen sind und die Fertigkeiten, die dafür benötigt werden.</label>
              <textarea type="text" rows="6" id="project-form-needs" name="fields[needs]" spellcheck="true">{{ project_needs }}</textarea>
            </fieldset>

            <!-- Project Text -->
            <fieldset>
              <label for="project-form-description"><strong>Weitere Informationen</strong><br>Hier ist Platz für mehr Details zum Projekt.</label>
              <textarea type="text" rows="6" id="project-form-description" name="fields[info]" spellcheck="true">{{ page.info }}</textarea>
            </fieldset>

            <!-- Link to the Project -->
            <fieldset>
              <label for="project-form-link"><strong>Projektlink</strong><br>Hier kannst du einen Link zum Projektdokument oder einem ersten Prototypen teilen.</label>
              <input type="text" id="project-form-link" name="fields[link]" value="{{ project_link }}" spellcheck="false"/>
            </fieldset>

            <!-- Link to a Project Image -->
            <fieldset>
              <label for="project-form-image"><strong>Projektbild</strong><br>
              Du hast ein Bild, welches dein Projekt darstellt? Dann schicke es uns in einer <a href="mailto:info@edulabs.de">E-Mail</a>, mit einer der folgenden <a target="_blank" href="https://creativecommons.org/licenses/">Creative Commons</a> Lizenzangaben: CC0, CC-BY und CC-BY-SA.
              </label>
            </fieldset>


            <!-- Project Contact -->
            <fieldset>
              <strong>Kontakt</strong>
                    <br>Um es möglichen Unterstützer*innen leicht zu machen, Kontakt mit dir aufzunehmen sowie für Rückfragen benötigen wir einen Kontakt, der auf edulabs.de veröffentlicht wird. Du kannst weitere Kontaktpersonen hinzufügen, sofern dein Team größer ist.
                    {% for contact in page.contact-name %}
                         {% if forloop.length == 1 %}
                           {% assign contact_name = contact %}
                           {% assign contact_email = page.contact-email %}
                         {% else %}
                           {% assign contact_name = contact %}
                           {% assign contact_email = page.contact-email[forloop.index0] %}
                         {% endif %}
                        <label for="project-form-contact-name"><strong>Name</strong> <span class="required">*</span></label>
                        <input type="text" id="project-form-contact-name" name="fields[contact-name]" value="{{ contact_name }}" spellcheck="false"/>
                        <label for="project-form-contact-email"><strong>Email</strong> <span class="required">*</span></label>
                        <input type="text" id="project-form-contact-email" name="fields[contact-email]" value="{{ contact_email }}" spellcheck="false"/>
                    {% endfor %}
                    {% if include.new %}
                    <div class="contacts">
                          <label for="project-form-contact-name"><strong>Name</strong> <span class="required">*</span></label>
                          <input type="text" id="project-form-contact-name" name="fields[contact-name]" value="{{ project_contact_name  }}" spellcheck="false"/>
                          <label for="project-form-contact-email"><strong>Email</strong> <span class="required">*</span></label>
                          <input type="text" id="project-form-contact-email" name="fields[contact-email]" value="{{ project_contact_email  }}" spellcheck="false"/>
                      </div>
                    {% endif %}
                    <p>
                    <button type="button" class="edu-btn small black" onclick="$('#contact-template').children().clone().appendTo('.contacts')">+ Kontakt hinzufügen</button>
                    </p>
                    <br/>
            </fieldset>

            <fieldset class="hidden" style="display:none;">
              <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
              <label for="comment-form-location">Leave blank if you are a human</label>
              <input id="spam_info" type="hidden" name="fields[human]" value="false">
              <input id="redirect_url" type="hidden" name="options[redirect]" value="{{ redirect }}">
            </fieldset>

            <p class="hidden js-notice">
              <span class="js-notice-text"></span>
            </p>
            <!-- End comment form alert messaging -->
            <fieldset>
              <button type="submit" id="comment-form-submit" class="edu-btn black">Projekte senden</button>
            </fieldset>
      </form>
      <div id="edit-project-form-submit"></div>
      <div id="project-submit-message" style="display: none">
        <h2>Vielen Dank, dass du dein Projekt veröffentlicht hast.<h2>
            <p>
            Nach einer kurzen Sichtung, wird es für edulabs.de freigeschaltet und abrufbar sein. Um mit der Community in Kontakt zu treten und für dein Projekt zu werben steht die edulabs Mailingliste zur Verfügung:</p>
            <div class="content-wrap btn-wrap">
                <a class="edu-btn black" href="https://listen.jpberlin.de/mailman/listinfo/edulabs" target="_blank">zur Mailingliste</a>
            </div>
      </div>
      <div id="contact-template" style="display: none">
        <label for="project-form-contact-name"><strong>Name</strong> <span class="required">*</span></label>
        <input type="text" id="project-form-contact-name" name="fields[contact-name]" value="" spellcheck="false"/>
        <label for="project-form-contact-email"><strong>Email</strong> <span class="required">*</span></label>
        <input type="text" id="project-form-contact-email" name="fields[contact-email]" value="" spellcheck="false"/>
      </div>
      </div>
    </section>
</div>

