<div class="teaser lab-teaser col-xs-24 col-md-8">
    <div class="teaser-inner">
        <div class="teaser-image">
            <img class="img-responsive" src="{{ site.baseurl }}{{ include.src }}"/>
        </div>
        <div class="teaser-content lab-teaser-content">
            <h2 class="teaser-headline">#{{ include.name }}</h2>
            <p class="teaser-copy has-arrow">{{ include.copy }}</p>
        </div>
        <div class="teaser-buttons-wrap">
            <a class="edu-btn black" href="{{ include.url }}">zum Lab</a>
        </div>

    </div>
</div>
