<div class="teaser lab-teaser col-xs-24 col-md-6">
    <div class="teaser-inner">
        {% if include.src %}
            <div class="teaser-image">
                <img class="img-responsive" src="{{ site.baseurl }}{{ include.src }}"/>
            </div>
        {% endif %}
        <div class="teaser-content lab-teaser-content">
            <h3 class="teaser-headline">{{ include.name }}</h3>
            <p class="teaser-copy">{{ include.copy }}{% if include.events %}{% include {{ include.events }} %}{% endif %}</p>
        </div>
        <div class="teaser-buttons-wrap">
                <a class="edu-btn black" href="{{ include.url }}">mehr</a>
        </div>
    </div>
</div>
