<!doctype html>
<html lang="de">
<head>
    <title>edulabs</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/static/edulabs.ico">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
{% include header.liquid %}
{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
      {{#is_post}}
      <ul>
        {{#tags}}<li>{{.}} </li>{{/tags}}
      </ul>
      {{/is_post}}
    </article>
  {{/entries}}
</script>
{% endraw %}
<div class="page-wrap">
    <section id="search-results" style="display: none;"> </section>
    {% include add_project.liquid %}
</div>
{% include footer.liquid %}
