<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="edulabs.de">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/static/edulabs.ico">
    <link rel="stylesheet" href="/assets/main.css">
    {% seo %}
    <!-- Piwik -->
   <script type="text/javascript">
       var _paq = _paq || [];
       /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
       _paq.push(['trackPageView']);
       _paq.push(['enableLinkTracking']);
       (function() {
           var u = "//piwik.okfn.de/";
           _paq.push(['setTrackerUrl', u + 'piwik.php']);
           _paq.push(['setSiteId', '35']);
           var d = document,
               g = d.createElement('script'),
               s = d.getElementsByTagName('script')[0];
           g.type = 'text/javascript';
           g.async = true;
           g.defer = true;
           g.src = u + 'piwik.js';
           s.parentNode.insertBefore(g, s);
       })();
   </script>
   <!-- End Piwik Code -->
</head>
<body>
{% include header.liquid %}
<div class="page-wrap subpage-content">
    <div class="row">
        <section class="section first col-xs-24">
            <div class="content-wrap subpage">
                <h1 class="section-headline">{{ page.title }}</h1>
                <h3 class="blue">edulabs {{ page.lab }}</h3>
                <div class="row project-status">
                    <div class="status-block">
                        {% assign selected_status = 'completed' %}
                        {% for status in site.data.projects.status %}
                        {% if page.status == status %}
                            {% assign selected_status = "selected" %}
                        {% endif %}
                        <div class="status {{selected_status}}">
                            <div class="label">
                                {{ status }}
                            </div>
                        </div>
                        {% if selected_status == 'selected' %}
                            {% assign selected_status = "" %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- project image -->
                <p>
                    {% if page.image_src %}
                        <div class="img-wrap-center">
                            <img src="{{ page.image_src }}" style="width: 90%; display: inline-block">
                        </div>
                    {% endif %}
                <p>
                <div class="subpage-content">
                    <!-- project description -->
                    <div class="row">
                       <h3 class="heading" style="text-align: left">Projektbeschreibung</h3>
                       <p>{{ page.short-desc }}</p>
                        <br>
                        <br>
                    </div>

                    <div class="row">
                        <h3 class="heading" style="text-align: left">Das wird gesucht</h3>
                        {{ page.needs  | markdownify }}
                        <br>
                        <br>
                    </div>

                    {% if info.size > 1 %}
                    <div class="row">
                        <h3 class="heading" style="text-align: left">Projektdetails</h3>
                        {{ info }}
                        <br>
                        <br>
                    </div>
                    {% endif %}
                    <div class="row">
                        <h3 class="heading" style="text-align: left">Kontakt</h3>
                        {% for contact in page.contact-name %}
                             {% if forloop.length == 1 %}
                             <a href="mailto:{{ page.contact-email }}">{{ contact }}</a>
                             {% else %}
                             <a href="mailto:{{ page.contact-email[forloop.index0] }}">{{ contact }}</a>
                             {% endif %}
                        <br/>
                        {% endfor %}
                    </div>
                </div>
                <div class="content-wrap btn-wrap">
                    <a class="edu-btn black" href="{{ page.link }}" target="_blank">Projektlink</a>
                </div>
            </div>
        </section>

    <!-- include mitmachen section -->
    {% include partials/sections/apply.liquid %}
    <!-- über das projekt -->
    <div class="row">
        <section class="section col-xs-24">
            <div class="content-wrap">
                <h2 class="section-headline">Über das Projekt</h2>
                <h3 class="blue about-subline">Wie lassen sich offene Bildungsangebote mit digital gestützten Methoden
                    gestalten? </h3>
                <p>Edulabs sind lokale Gruppen aus Menschen, die ihre didaktischen,
                    technischen und gestalterischen Fähigkeiten einsetzen, um zusammen innovative und nachnutzbare
                    Bildungsmaterialien zu entwickeln.</p>
            </div>
            <div class="content-wrap btn-wrap">
                <a class="edu-btn black" href="/about" target="_blank">mehr</a>
            </div>
            </section>
    </div>

    </div>
    <!-- team -->
    {% if page.team %}
    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap">
                <h2 class="section-headline">Team</h2>
            </div>
            <!-- member teasers -->

            {% include {{ page.team }} %}
        </section>
    </div>
    {% endif %}

</div>
{% include footer.liquid %}
